# All the needed environment variables
# All variable left blank must be filled in your own .env & .env.yaml files

JCDECAUX_API_KEY:
JCDECAUX_CONTRACT:
BUCKET_NAME:
TIMEOUT:
GOOGLE_APPLICATION_CREDENTIALS:
